<div class="container">
    <div class="row mb-5 mt-2">
        <div class="col-md-6">
            <div class="img">
                <img class="img-back animate__animated animate__fadeIn animate__delay-10s"
                    src="../../../assets/img/nexus.png" alt="" srcset="">
                <img class="img-front" src="../../../assets/img/iphone6-home.png" alt="">
                <img class="img-front" src="../../../assets/img/screen-home.gif" style="height: 490px; width: 295px; top: 74px; left: 168px; border: 2px solid #FFFFFF;"  alt="" srcset="">

            </div>
        </div>
        <div class="col-md-6 flex-column d-flex justify-content-center align-items-center">
            <h1 class="text-center mb-3 home-title animate__animated animate__fadeIn animate__delay-10s">Send money and
                make purchases at approved merchants</h1>
            <button type="button" class="btn btn-myprimary btn-lg mt-3"> Get the App </button>
        </div>

    </div>
</div>