.img{
    width: 250px;
}
.img-col{
    width: 300px;
}
.secton{
    height: 90vh;
}
@media only screen and (max-width: 767px) {
    .img-col {
      width: 175px;
    }
    .center {
        text-align: center;
    }
}