<div class="jumbotron bg-white border-bottom mb-0 rounded-0">
    <h1 class="text-center" style="font-size: 48px; font-family: Arial, Helvetica, sans-serif;">Tap into Venmo’s social commerce platform</h1>
</div>
<div class="jumbotron flex-column d-flex justify-content-center border-bottom mb-0 align-items-center rounded-0 bg-light">
    <img class="img mb-3" src="../../../assets/img/iphone6.png" alt="" srcset="">
    <h3 class="text-center">More than just an easy way to pay</h3>
    <div class="col-md-5">
        <p class="text-center" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #868686;">Give customers a seamless payment option with Venmo at checkout on your mobile website or app, 
            and reap the social benefits of the Venmo platform—far beyond the moment of purchase.</p>
    </div>
</div>
<div class="border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <img class="mt-5 img-col" src="../../../assets/img/nexus.png" alt="" srcset="">
            </div>
            <div class="col-md-6 flex-column d-flex justify-content-center align-items-center">
                <h1 class="center">
                    Be the topic of friends’ conversations
                </h1>
                <p class="center" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #868686;">
                    Venmo connects real friends who share what they’re experiencing and buying. Behind every person who pays with Venmo is a network of friends who can view, 
                    like, and comment on a shared purchase, bringing your brand front and center in their conversations.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron mb-0 border-bottom rounded-0 bg-light">
    <div class="container ">
        <div class="row secton align-items-center">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-5">
                <h1 class="center">
                    A way of paying that customers already love
                </h1>
                <p class="center" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #868686;">
                    Tap into the millions of people who already use Venmo to pay their friends. 
                    An intuitive user experience means a speedy checkout, and access to the Venmo features users love.
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center p-5">
                <div class="card text-center p-5">
                    <div class="card-body">
                        <p class="ml-5 mr-5" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #868686;">Complete purchase with</p>
                        <button type="button" class="btn btn-primary btn-lg mt-3 btn-block">
                                <h5 class="ml-5 mr-5">Venmo</h5>   
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron mb-0 rounded-0 bg-light">
    <h1 class="text-center">Want to learn more?</h1>
    <p class="text-center mb-0" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #868686;">Integrate with Braintree to accept Venmo at checkout.Get Started </p>
    <p class="text-center" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #868686;">Use PayPal Checkout to add Venmo as a payment option.Learn More</p>
</div>