<footer class="border-top">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-2">
                <p class="footer-title">Learn more</p>
                <p>How it works</p>
                <p>Our Fees</p>
                <p>Business</p>
                <p>Card</p>
                <p>Security</p>
                <p>Contact Us</p>
            </div>
            <div class="col-md-2">
                <p class="footer-title">Company</p>
                <p>How it works</p>
                <p>Our Fees</p>
            </div>
            <div class="col-md-2">
                <p class="footer-title">Community</p>
                <p>How it works</p>
                <p>Our Fees</p>
                <p>Business</p>
            </div>
            <div class="col-md-2">
                <p class="footer-title">Terms</p>
                <p>How it works</p>
                <p>Our Fees</p>   
            </div>
            <div class="col-md-2">
                <img width="150" src="../../../assets/img/apple-app-store.png" alt="" srcset="">
            </div>
            <div class="col-md-2">
                <img width="150" src="../../../assets/img/google-play-badge.png" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-2 ">
        <p>
            Venmo is a service of PayPal, Inc., a licensed provider of money transfer services (NMLS ID: 910457). 
            All money transmission is provided by PayPal, Inc. pursuant to <a href="#">PayPal, Inc.’s licenses</a>. © 2020 PayPal, Inc.
        </p>
    </div>
</footer>
