<section class="jumbotron bg-light mb-0 rounded-0">

</section>
<div class="container section2 flex-column d-flex justify-content-center align-items-center">
    <h1 class="mb-5 title">Ready, set, pay</h1>
    <button type="button" class="btn btn-primary btn-lg mt-4">
        Sign Up now
    </button>
</div>
<div
    class="jumbotron bg-light border-bottom mb-0 rounded-0 ">
    <div class="container section3 d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center title-1 mb-5">Get to know us better</h1>
        <div class="row align-items-center justify-content-center">
            <div class=" cards col-md-4 d-flex flex-column align-items-center  p-2">
                <img class="img-card mb-5" src="../../../assets/img/Lock.png" alt="" srcset="">
                <h2 class="text-center title-2 mb-5">Security</h2>
                <p class="text-center description">We use encryption to help protect your account information and
                    monitor your account activity to help identify unauthorized transactions.</p>
            </div>
            <div class=" cards col-md-4 d-flex flex-column align-items-center  p-2">
                <img class="img-card mb-5" src="../../../assets/img/ContactBook.png" alt="" srcset="">
                <h2 class="text-center title-2 mb-5">Use Venmo with anyone</h2>
                <p class="text-center description">Pay family and friends with Venmo accounts using a phone number or email. 
                    If they don't have a Venmo account, they'll just need to create one. 
                    Find friends automatically by syncing your Facebook or phone contacts.</p>
            </div>
            <div class=" cards col-md-4 d-flex flex-column align-items-center  p-2">
                <img class="img-card mb-5" src="../../../assets/img/Cash.png" alt="" srcset="">
                <h2 class="text-center title-2 mb-5">Free with many payment methods</h2>
                <p class="text-center description">When you send money using your Venmo balance, bank account, debit card or prepaid card, we waive fees so it’s free.
                     Our standard 3% fee applies to credit cards. 
                     Receiving money and making purchases in other apps is always free.</p>
            </div>
        </div>
    </div>
</div>