<div class="border-bottom">
    <div class="container secton d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center mb-5">Looking for something specific?</h1>
        <div class="row  align-items-center justify-content-center">
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center p-2">
                <div class="card text-center p-3" style="height: 183px; cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">Contact Support</h5>
                        <p class="card-text" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #868686;">Do you have the question about using Venmo or a problem with your account?</p>
                      </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center p-2">
                <div class="card text-center p-3" style="height: 183px; cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">Business & partnerships</h5>
                        <p class="card-text" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #868686;">Are you interested in partnering with Venmo ?</p>
                      </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center p-2">
                <div class="card text-center p-3" style="height: 183px; cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">Press</h5>
                        <p class="card-text" style="font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #868686;">Are you press and looking to do a story about Venmo ?</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
