<div class="container">
    <h1 class="mb-5 mt-5" style="font-weight: 100; font-size: 48px; line-height: 54px; font-family: Arial, Helvetica, sans-serif;">Security</h1>
    <div class="mb-5">
        <h1 class="mb-4 title">How Venmo gets in touch</h1>
        <p class="content">Nobody at Venmo will ever contact you to request a password or verification code to your account. 
        If you have any questions or concerns about security, send an email to support@venmo.com.</p>
    </div>

    <div class="mb-5">
        <h1 class="mb-4 title">How Venmo helps protect your financial information</h1>
        <p class="content">We use encryption to help protect your account information and monitor your account activity to help identify unauthorized transactions. 
            If you suspect that your account shows unauthorized activity, contact us.</p>
    </div>

    <div class="mb-5">
        <h1 class="mb-4 title">Encryption & storage</h1>
        <p class="content">We use encryption to help protect your account details and store that information on servers in secure locations. 
            On the web, “https:” and a lock next to the web address is your signal that encryption is on.</p>
    </div>

    <div class="mb-5">
        <h1 class="mb-4 title">Account protection</h1>
        <p class="content">If you’ve lost your phone or suspect that it is being used in an unauthorized way, you can prevent your phone from accessing your Venmo account. 
            Just go to Venmo.com > Settings > Security and remove the session associated with your phone. When you remove the session, you’ll be signed out of the app on your phone. </p>
        <p class="content">To add additional layers of security to your Venmo account, set up multifactor authentication and add a PIN code in the app.</p>
    </div>

    <div class="mb-5">
        <h1 class="mb-4 title">Keep yourself safe</h1>
        <p class="content">Venmo is designed for payments between friends and people who trust each other. Avoid payments to people you don't know, 
            especially if it involves a sale for goods and services (like event tickets and Craigslist items). These payments are potentially high risk, and you could lose your money without getting what you paid for. Venmo does not offer buyer or seller protection. 
            Business usage of Venmo requires an application and explicit authorization. For more information, see our User Agreement.</p>
        <p class="content">To add an additional layer of security to your Venmo account, learn how you can set up a PIN code in our mobile apps.</p>
    </div>

    <div class="mb-5">
        <h1 class="mb-4 title">Security support</h1>
        <p class="content">We’re here to help. If you have any questions or concerns about security, send an email to support@venmo.com</p>
        <p class="content">We do our best to respond to any customer service or technical support issues quickly, efficiently, and with care.</p>
    </div>

    <div class="mb-5">
        <h1 class="mb-4 title">Responsible Disclosure</h1>
        <p class="content">If you are a security researcher and would like to report a vulnerability that you've found, please see the PayPal Bug Bounty Program.</p>
    </div>
</div>
